<div class="max-w-lg mx-auto border p-4 mx-4 mt-12">
    <p class="mb-4 text-base">Great! Let us know where to send your personalized report</p>

    <form (ngSubmit)="onSubmit()" class="mb4">
        <label>Email address:</label>
        <input type="email" [(ngModel)]="email" name="email" required>
        <button type="submit">Submit</button>
    
    
    <!-- <p *ngIf="errorMessage">{{ errorMessage }}</p> -->
        <button type="submit"
            class="bg-indigo-400 hover:bg-indigo-500 text-black py-2 px-2 rounded-lg mt-4">Next</button>
    </form>
</div>
<p class="max-w-lg mt-12 mx-12 text-base w-1/2 mx-auto">
    We have helped <span class="text-indigo-500 font-bold"> 1500+ </span> with resume reviews and editing.
</p>